.portadaHome{
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url("../../assets/fotoPadre.jpeg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:overlay;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10rem;
}

.portadaHome img{
    height: 250px;
}

.fraseInicialHome{
    width: 100%;
    padding: 3rem 2rem;
    text-align: end;
}

.fraseInicialHome p{
    padding-inline: 2rem;
    color: var(--dorado);
    text-align: center;
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 300;
}

.fraseInicialHome strong{
    font-weight: 600;
}

.fraseInicialHome span{
    font-size: 1.5rem;
    font-weight: 600;
}

.leerMasHome{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.leerMasHome a{
    text-decoration: none;
    color: var(--dorado);
    font-size: 1.5rem;
    font-weight: 400;
    transition: all .3s ease;
    font-family: var(--font-manhattan);
}

.leerMasHome a:hover{
    color: rgb(191, 150, 99, .5);
}

.leerMasHome a svg{
    transition: all .3s ease;
}

.leerMasHome a:hover svg{
    stroke: rgb(191, 150, 99, .5);
    padding-left: .5rem;
}

.bandaImagenHome{
    width: 100%;
    height: 300px;
    background-image: url("../../assets/Photos/sacerdote14.png");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.biografiaHome{
    width: 100%;
    padding: 3rem 2rem;
}

.biografiaHome p{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.65rem;
    font-weight: 300;
}

.biografiaHome p:not(:last-child){
    margin-bottom: 1rem;
}

.lineaDivisora{
    height: 2px;
    width: 60%;
    margin: auto;
    border-radius: .5rem;
    background-color: var(--linea-divisora);
}

.obrasHome{
    width: 100%;
    padding: 3rem 2rem;
}

.obrasHome h2{
    font-size: 2.5rem;
    font-family: var(--font-manhattan);
}

.carouselObrasHome{
    margin-top: 1rem;
}

.cardObrasHome{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 95%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cardObrasHome:hover{
    transform: scale(1.05);
}

.cardObrasHome:hover .contenedorImagenCardObrasHome{   
    opacity: 1;
}

.contenedorImagenCardObrasHome{
    width: 100%;
    padding-bottom: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.caridadImagenCardObrasHome{
    background-image: url("../../assets/Photos/caridad6.jpg");
}

.divinaMisericordiaImagenCardObrasHome{
    background-image: url("../../assets/Photos/divina2.jpg");
}

.sanAntonioImagenCardObrasHome{
    background-image: url("../../assets/Photos/sanAntonio.jpg");
}

.oratorioImagenCardObrasHome{
    background-image: url("../../assets/Photos/oratorio2.jpg");
}

.rosarioImagenCardObrasHome{
    background-image: url("../../assets/Photos/rosario.jpg");
}

.divinoNiñoImagenCardObrasHome{
    background-image: url("../../assets/Photos/divino.jpg");
}

.nombreCardObrasHome{
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    padding-inline: 1rem;
}

.nombreCardObrasHome h4{
    font-size: 1.5rem;   
}

.niñezVocacionHome{
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.niñezVocacionHome div{
    width: 40%;
    padding-bottom: 15%;
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    transition: all 0.3s ease;
}

.niñezVocacionHome div:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.niñezVocacionHome div:hover h5{
    opacity: 0;
}

.niñezAdolescenciaHome{
    background-image: url("../../assets/Photos/niñez2.jpg");
    background-position: 50% 70%;
}

.vocacionHome{
    background-image: url("../../assets/Photos/vocacion1.jpg");
    background-position: 50% 37%;
}

.niñezVocacionHome h5{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding-inline: 2rem;
    font-size: 2rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 2px rgb(81, 81, 81, .5));
    transition: all 0.3s ease;
}

.testimonioSeñoraHome{
    width: 100%;
    padding: 3rem 2rem;
}

.testimonioSeñoraHome h2{
    text-align: center;
    color: var(--dorado);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonioSeñoraHome p{
    padding-inline: 2rem;
    text-align: center;
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 300;
}

.testimonioSeñoraHome span{
    display: block;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 600;
}

.mariaHome{
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.contenedorParrafosMariaHome{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.contenedorParrafosMariaHome h3{
    font-size: 2rem;
    color: var(--dorado);
    margin-bottom: 1rem;
    font-family: var(--font-manhattan);
}

.columna1MariaHome{
    width: 40%;
}

.columna1MariaHome p{
    width: 100%;
    font-size: 1.5rem;
}

.columna1MariaHome p:not(:last-child){
    margin-bottom: 1rem;
}

.columna2MariaHome{
    width: 40%;
}

.columna2MariaHome p{
    width: 100%;
    font-size: 1.5rem;
}

.columna2MariaHome p:not(:last-child){
    margin-bottom: 1rem;
}

.columna3MariaHome{
    width: 30%;
    background-image: url("../../assets/Photos/maria1.jpg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.apostoladoHome{
    width: 100%;
    padding: 3rem 2rem;
}

.apostoladoHome h2{
    font-size: 2.5rem;
    font-family: var(--font-manhattan);
}

.contenedorCardsApostoladoHome{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(8%/3);
}

.cardApostoladoHome{
    width: 23%;
    padding-bottom: 23%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.cardApostoladoHome:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.cardApostoladoHome:hover h5{
    opacity: 0;
}

.cardApostoladoHome h5{
    width: 100%;
    padding-inline: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    filter: drop-shadow(2px 2px 2px rgb(81, 81, 81, .5));
    transition: all 0.3s ease;
}

.ACCardApostoladoHome{
    background-image: url("../../assets/Photos/ac5.jpg");
    background-position: 50% 50%;
}

.MEPCardApostoladoHome{
    background-image: url("../../assets/Photos/mep1.jpg");
    background-position: 50% 50%;
}

.orquestaCardApostoladoHome{
    background-image: url("../../assets/Photos/orquesta1.jpg");
    background-position: 50% 50%;
}

.santaTeresitaCardApostoladoHome{
    background-image: url("../../assets/Photos/santaTeresita.jpg");
    background-position: 50% 50%;
}

.cristoHoyHome{
    width: 100%;
    padding-block: 3rem;
    display: flex;
    justify-content: space-between;
}

.imagenCristoHoyHome{
    width: 30%;
    background-image: url("../../assets/Photos/amigos4.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoCristoHoyHome{
    width: 70%;
    padding-inline: 2rem;
    font-size: 1.5rem;
}

.textoCristoHoyHome h2{
    color: var(--dorado);
    padding-inline: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: var(--font-manhattan);
}

.textoCristoHoyHome p{
    width: 80%;
    text-align: center;
    margin: auto;
}

.textoCristoHoyHome p:not(:last-child){
    margin-block: 1rem;
}

.bandaImagen2Home{
    width: 100%;
    height: 300px;
    background-image: url("../../assets/Photos/sacerdote12.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sueñoCumplirHome{
    width: 100%;
    padding-block: 3rem;
}

.sueñoCumplirHome h2{
    text-align: center;
    color: var(--dorado);
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: var(--font-manhattan);
}

.contenedorSueñoCumplirHome{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.textoSueñoCumplirHome{
    width: 70%;
    padding-inline: 2rem;
    font-size: 1.5rem;
}

.textoSueñoCumplirHome p{
    width: 80%;
    text-align: center;
    margin: auto;
}

.textoSueñoCumplirHome p:not(:last-child){
    margin-block: 1rem;
}

.imagenSueñoCumplirHome{
    width: 30%;
    background-image: url("../../assets/Photos/sueño1.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    background-blend-mode: overlay;
}
